*
{
  margin:0;
  padding: 0;
  box-sizing: border-box
}
.App-header
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 14vh;
  padding: 20px;
}
.App
{
  background:linear-gradient(120deg,rgb(224, 153, 213),rgb(230, 69, 149));
 
}
.right
{
  display: flex;
  /* padding-right: 15px; */
}
h3{
  margin-left: 25px;
}